In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import LabelEncoder

In [3]:
label_encoder = LabelEncoder()

In [4]:
df = pd.read_csv('D:\ML\data\insurance.csv')

In [5]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
df['sex']= label_encoder.fit_transform(df['sex'])
df['region']= label_encoder.fit_transform(df['region'])

In [80]:
df['bmi']= label_encoder.fit_transform(df['bmi'])

In [7]:
df

      age  sex     bmi  children smoker  region      charges
0      19    0  27.900         0    yes       3  16884.92400
1      18    1  33.770         1     no       2   1725.55230
2      28    1  33.000         3     no       2   4449.46200
3      33    1  22.705         0     no       1  21984.47061
4      32    1  28.880         0     no       1   3866.85520
...   ...  ...     ...       ...    ...     ...          ...
1333   50    1  30.970         3     no       1  10600.54830
1334   18    0  31.920         0     no       0   2205.98080
1335   18    0  36.850         0     no       2   1629.83350
1336   21    0  25.800         0     no       3   2007.94500
1337   61    0  29.070         0    yes       1  29141.36030

[1338 rows x 7 columns]

In [8]:
#X = pd.series(df.iloc[:,0:2].values)
X=df[['age','sex','bmi','children','region','charges']]
y=df['smoker']

In [9]:
X

      age  sex     bmi  children  region      charges
0      19    0  27.900         0       3  16884.92400
1      18    1  33.770         1       2   1725.55230
2      28    1  33.000         3       2   4449.46200
3      33    1  22.705         0       1  21984.47061
4      32    1  28.880         0       1   3866.85520
...   ...  ...     ...       ...     ...          ...
1333   50    1  30.970         3       1  10600.54830
1334   18    0  31.920         0       0   2205.98080
1335   18    0  36.850         0       2   1629.83350
1336   21    0  25.800         0       3   2007.94500
1337   61    0  29.070         0       1  29141.36030

[1338 rows x 6 columns]

In [10]:
y

0       yes
1        no
2        no
3        no
4        no
       ...
1333     no
1334     no
1335     no
1336     no
1337    yes
Name: smoker, Length: 1338, dtype: object

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=10)

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
classifier=LogisticRegression()

In [15]:
classifier.fit(X_train,y_train)

LogisticRegression()

In [16]:
y_pred = classifier.predict(X_test)

In [17]:
y_pred

array(['no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no',
       'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'no', 'yes',
       'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no'], dtype=object)

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
accuracy=accuracy_score(y_test,y_pred)

In [20]:
accuracy

0.9079601990049752

In [21]:
from sklearn.metrics import confusion_matrix

In [22]:
c_m=confusion_matrix(y_test,y_pred)

In [23]:
c_m

array([[311,  10],
       [ 27,  54]], dtype=int64)