In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('data\data.csv')

In [4]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [6]:
X= df[['EstimatedSalary']]
Y= df[['Purchased']]

In [7]:
X

     EstimatedSalary
0              19000
1              20000
2              43000
3              57000
4              76000
..               ...
395            41000
396            23000
397            20000
398            33000
399            36000

[400 rows x 1 columns]

In [8]:
Y

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3,random_state=100)

In [11]:
model=LinearRegression()

In [12]:
model.fit(X_train,y_train)

LinearRegression()

In [13]:
y_pred=model.predict(X_test)

In [14]:
y_pred

array([[0.25092439],
       [0.14704433],
       [0.20417836],
       [0.46387852],
       [0.29247641],
       [0.39116248],
       [0.24573039],
       [0.34441645],
       [0.21456637],
       [0.22495437],
       [0.29767042],
       [0.35999846],
       [0.31844643],
       [0.7547427 ],
       [0.21976037],
       [0.17820834],
       [0.27689441],
       [0.37038646],
       [0.1106863 ],
       [0.05874627],
       [0.39116248],
       [0.61969862],
       [0.4327145 ],
       [0.42232649],
       [0.19898436],
       [0.24053638],
       [0.14704433],
       [0.36519246],
       [0.23014838],
       [0.09510429],
       [0.35999846],
       [0.4379085 ],
       [0.12626831],
       [0.36519246],
       [0.18340235],
       [0.37558047],
       [0.7599367 ],
       [0.35480445],
       [0.41713249],
       [0.28728241],
       [0.40674448],
       [0.28208841],
       [0.56256458],
       [0.11588031],
       [0.47426653],
       [0.20417836],
       [0.71838468],
       [0.2665064 ],
       [0.25611839],
       [0.65605664],
       [0.20937236],
       [0.19898436],
       [0.38596847],
       [0.08471629],
       [0.15223833],
       [0.28728241],
       [0.54178857],
       [0.23534238],
       [0.39116248],
       [0.19898436],
       [0.38077447],
       [0.22495437],
       [0.34961045],
       [0.35480445],
       [0.13665632],
       [0.31844643],
       [0.56775858],
       [0.35480445],
       [0.1002983 ],
       [0.69241466],
       [0.19379035],
       [0.66125064],
       [0.41193849],
       [0.36519246],
       [0.28208841],
       [0.34961045],
       [0.2665064 ],
       [0.39635648],
       [0.36519246],
       [0.33402844],
       [0.41713249],
       [0.39116248],
       [0.14704433],
       [0.25611839],
       [0.35480445],
       [0.20417836],
       [0.33402844],
       [0.11588031],
       [0.16782034],
       [0.13665632],
       [0.28728241],
       [0.38077447],
       [0.16782034],
       [0.2613124 ],
       [0.52620656],
       [0.31325243],
       [0.47946053],
       [0.34961045],
       [0.40155048],
       [0.41713249],
       [0.17820834],
       [0.39635648],
       [0.28208841],
       [0.35480445],
       [0.18340235],
       [0.27689441],
       [0.09510429],
       [0.13146232],
       [0.4275205 ],
       [0.39635648],
       [0.52101256],
       [0.08471629],
       [0.37558047],
       [0.30286442],
       [0.70280267],
       [0.39635648],
       [0.37038646],
       [0.17820834],
       [0.69241466],
       [0.50543055]])

In [15]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [16]:
mae=mean_absolute_error(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
r2=r2_score(y_test,y_pred)
a_r2=1-(1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)

In [17]:
mae

0.41089541407677277

In [18]:
mse

0.21496305892976533

In [19]:
rmse

0.46364108848306934

In [20]:
r2

0.08282428189966795

In [21]:
a_r2

0.08051982029640081