In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv('D:\ML\data\data.csv')

In [3]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df=df.drop(['User ID','Gender'],axis=1)

In [5]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [7]:
X=df.drop('Purchased',axis=1)
Y=df[['Purchased']]

In [8]:
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [9]:
Y

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25,random_state=10)

In [12]:
model=LinearRegression()

In [13]:
model.fit(X_train,y_train)

LinearRegression()

In [14]:
y_pred = model.predict(X_test)

In [15]:
y_pred

array([[ 0.47123484],
       [ 0.3578473 ],
       [ 0.56178372],
       [ 0.54115891],
       [-0.10379164],
       [ 0.75149438],
       [ 0.3068583 ],
       [ 0.52667109],
       [ 0.26033612],
       [ 0.41189501],
       [ 0.42247925],
       [ 0.23081681],
       [ 1.16606747],
       [ 0.73533639],
       [ 0.42720812],
       [ 0.38487115],
       [ 0.1725839 ],
       [-0.04054823],
       [-0.03414919],
       [ 0.59661474],
       [ 0.02603551],
       [-0.07091242],
       [ 0.37233512],
       [ 1.01394534],
       [ 0.83842131],
       [ 0.29989601],
       [ 0.34140769],
       [ 0.62949396],
       [ 0.51747539],
       [ 0.19318913],
       [ 0.11907986],
       [ 0.13469417],
       [ 0.14833713],
       [ 0.52638946],
       [ 0.82896356],
       [ 0.17536098],
       [ 0.66263523],
       [ 0.6960777 ],
       [ 0.35199193],
       [ 0.07116914],
       [ 0.37177187],
       [ 0.47986729],
       [-0.18180449],
       [ 0.0889973 ],
       [ 0.3018478 ],
       [ 0.10487366],
       [ 0.88329289],
       [ 0.3068583 ],
       [ 0.3904449 ],
       [-0.0472289 ],
       [ 0.30297429],
       [ 0.53003099],
       [ 0.55202478],
       [ 0.3110435 ],
       [ 0.42777137],
       [ 0.37957903],
       [ 0.72392685],
       [ 0.09680445],
       [ 0.64368058],
       [ 1.21315289],
       [ 0.09151233],
       [ 0.74565858],
       [ 0.31243204],
       [ 0.62225005],
       [ 1.08304411],
       [ 0.60301378],
       [ 0.47123484],
       [ 1.09586177],
       [-0.27541209],
       [ 0.41746875],
       [ 0.36146925],
       [ 0.50244389],
       [-0.00851388],
       [ 0.07116914],
       [ 0.18511993],
       [ 0.39907735],
       [ 0.14109322],
       [-0.10546181],
       [ 0.99583556],
       [ 0.47958567],
       [ 0.38682294],
       [ 0.3486516 ],
       [-0.09069236],
       [ 0.149182  ],
       [-0.17623075],
       [ 0.27705736],
       [-0.01296113],
       [ 0.17982781],
       [-0.29157008],
       [ 0.21381395],
       [ 0.83145902],
       [ 0.1848383 ],
       [ 0.12632377],
       [ 0.84733538],
       [ 0.0931825 ],
       [-0.22442309],
       [ 0.9097535 ],
       [ 0.15642591],
       [ 0.19570417],
       [ 0.20127792]])

In [16]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [17]:
import numpy as np

In [18]:
mae=mean_absolute_error(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
r2=r2_score(y_test,y_pred)
a_r2=1-(1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)

In [20]:
mae

0.2799339470171044

In [21]:
mse

0.11181055595968757

In [22]:
rmse

0.3343808546548196

In [23]:
r2

0.4772765032272669

In [24]:
a_r2

0.47464313548533876

## using standard scaler

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
sc = StandardScaler()

In [27]:
X_train = sc.fit_transform(X_train)

In [28]:
X_test = sc.transform(X_test)

In [29]:
model.fit(X_train,y_train)

LinearRegression()

In [30]:
y_pred = model.predict(X_test)

In [31]:
y_pred

array([[ 0.47123484],
       [ 0.3578473 ],
       [ 0.56178372],
       [ 0.54115891],
       [-0.10379164],
       [ 0.75149438],
       [ 0.3068583 ],
       [ 0.52667109],
       [ 0.26033612],
       [ 0.41189501],
       [ 0.42247925],
       [ 0.23081681],
       [ 1.16606747],
       [ 0.73533639],
       [ 0.42720812],
       [ 0.38487115],
       [ 0.1725839 ],
       [-0.04054823],
       [-0.03414919],
       [ 0.59661474],
       [ 0.02603551],
       [-0.07091242],
       [ 0.37233512],
       [ 1.01394534],
       [ 0.83842131],
       [ 0.29989601],
       [ 0.34140769],
       [ 0.62949396],
       [ 0.51747539],
       [ 0.19318913],
       [ 0.11907986],
       [ 0.13469417],
       [ 0.14833713],
       [ 0.52638946],
       [ 0.82896356],
       [ 0.17536098],
       [ 0.66263523],
       [ 0.6960777 ],
       [ 0.35199193],
       [ 0.07116914],
       [ 0.37177187],
       [ 0.47986729],
       [-0.18180449],
       [ 0.0889973 ],
       [ 0.3018478 ],
       [ 0.10487366],
       [ 0.88329289],
       [ 0.3068583 ],
       [ 0.3904449 ],
       [-0.0472289 ],
       [ 0.30297429],
       [ 0.53003099],
       [ 0.55202478],
       [ 0.3110435 ],
       [ 0.42777137],
       [ 0.37957903],
       [ 0.72392685],
       [ 0.09680445],
       [ 0.64368058],
       [ 1.21315289],
       [ 0.09151233],
       [ 0.74565858],
       [ 0.31243204],
       [ 0.62225005],
       [ 1.08304411],
       [ 0.60301378],
       [ 0.47123484],
       [ 1.09586177],
       [-0.27541209],
       [ 0.41746875],
       [ 0.36146925],
       [ 0.50244389],
       [-0.00851388],
       [ 0.07116914],
       [ 0.18511993],
       [ 0.39907735],
       [ 0.14109322],
       [-0.10546181],
       [ 0.99583556],
       [ 0.47958567],
       [ 0.38682294],
       [ 0.3486516 ],
       [-0.09069236],
       [ 0.149182  ],
       [-0.17623075],
       [ 0.27705736],
       [-0.01296113],
       [ 0.17982781],
       [-0.29157008],
       [ 0.21381395],
       [ 0.83145902],
       [ 0.1848383 ],
       [ 0.12632377],
       [ 0.84733538],
       [ 0.0931825 ],
       [-0.22442309],
       [ 0.9097535 ],
       [ 0.15642591],
       [ 0.19570417],
       [ 0.20127792]])

In [32]:
mae=mean_absolute_error(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
r2=r2_score(y_test,y_pred)
a_r2=1-(1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)

In [33]:
mae

0.27993394701710433

In [34]:
mse

0.1118105559596876

In [35]:
rmse

0.3343808546548196

In [36]:
r2

0.4772765032272668

In [37]:
a_r2

0.47464313548533865