In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [4]:
import seaborn as sns

In [5]:
df=pd.read_csv('C:\\Users\\Hp\\Downloads\\Advertising.csv')

In [6]:
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [7]:
X=df['TV']

In [8]:
Y=df['Sales']

In [9]:
X

0      230.1
1       44.5
2       17.2
3      151.5
4      180.8
       ...
195     38.2
196     94.2
197    177.0
198    283.6
199    232.1
Name: TV, Length: 200, dtype: float64

In [10]:
Y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales, Length: 200, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
df=df.drop('Unnamed: 0',axis=1)

In [13]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [14]:
x=df.drop('Sales',axis=1)
y=df.Sales

In [15]:
x

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [16]:
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales, Length: 200, dtype: float64

In [17]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=30)

In [18]:
model=LinearRegression()

In [19]:
model.fit(X_train,y_train)

LinearRegression()

In [20]:
y_pred=model.predict(X_test)

In [21]:
y_pred

array([ 8.99517451, 14.72819105, 14.80244205, 18.2970184 , 19.50149593,
        8.26660501, 10.71118102, 19.07642641,  8.16657095, 14.43923194,
       10.34038314, 15.23314106, 14.73158898, 11.9852869 ,  6.38209067,
       18.3885869 , 20.80067088, 13.04867527, 21.19301799, 23.98244148,
       11.53954725, 10.49932953, 19.13585382, 12.760725  , 16.84710763,
       15.04575774,  6.26650403, 23.32519068, 14.05708607, 14.66629232,
       19.22155763, 12.72032424, 22.86338006, 15.16791849, 20.05201094,
       15.55795959, 12.38483401,  9.85551882, 18.08767069,  8.12498933,
        9.2687577 ,  5.99722717, 10.04292568, 16.16837585, 16.29654424,
       23.01736992, 20.48542902,  7.70336504, 20.42070005, 10.82130003,
       15.65082377, 17.56433012, 22.94129904, 12.28292134, 17.83322061,
       19.11382184, 12.47561137, 21.71328725, 18.07968563, 17.23522908])

In [22]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [23]:
mae=mean_absolute_error(y_test,y_pred)

In [24]:
mae

1.2654220059554542

In [25]:
mse=mean_squared_error(y_test,y_pred)

In [26]:
mse

2.5467060145256792

In [27]:
import numpy as np

In [28]:
rmse=np.sqrt(mse)

In [29]:
rmse

1.595840222116763

In [30]:
df1=pd.read_csv('C:\\Users\\Hp\\Downloads\\Advertising.csv')

In [31]:
df1

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [32]:
X=df1[['TV']]
Y=df1[['Sales']]

In [33]:
X

        TV
0    230.1
1     44.5
2     17.2
3    151.5
4    180.8
..     ...
195   38.2
196   94.2
197  177.0
198  283.6
199  232.1

[200 rows x 1 columns]

In [34]:
Y

     Sales
0     22.1
1     10.4
2      9.3
3     18.5
4     12.9
..     ...
195    7.6
196    9.7
197   12.8
198   25.5
199   13.4

[200 rows x 1 columns]

In [35]:

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3,random_state=100)

In [36]:
model1=LinearRegression()

In [37]:
model1.fit(X_train,y_train)

LinearRegression()

In [38]:
y_pred=model1.predict(X_test)

In [39]:
y_pred

array([[ 7.35234526],
       [18.06533671],
       [13.27610876],
       [17.11214086],
       [18.22807747],
       [16.60531965],
       [13.4620982 ],
       [16.17754395],
       [17.05169429],
       [17.07029323],
       [12.4391563 ],
       [17.66080969],
       [ 9.60281742],
       [15.72186983],
       [11.04423554],
       [11.36971705],
       [13.95032046],
       [14.90351632],
       [14.59198401],
       [12.23921766],
       [16.97264878],
       [13.00642408],
       [16.07524976],
       [15.21969836],
       [15.58702749],
       [17.23303399],
       [17.20978531],
       [10.49091697],
       [15.58702749],
       [12.71349072],
       [10.1700852 ],
       [10.19798361],
       [12.61584627],
       [15.74976825],
       [ 9.31453379],
       [12.59259759],
       [11.50920913],
       [14.81982107],
       [17.33067844],
       [15.97295557],
       [17.00519693],
       [15.15925179],
       [14.63848137],
       [17.14933874],
       [12.57864838],
       [11.16047894],
       [ 7.77547122],
       [18.55820871],
       [10.27237939],
       [ 8.76586496],
       [16.405381  ],
       [14.95466341],
       [10.4816175 ],
       [13.08546959],
       [16.78665935],
       [ 9.05879832],
       [ 7.78942043],
       [ 8.17999824],
       [16.17754395],
       [10.9744895 ]])

In [40]:
from sklearn.metrics import r2_score

In [41]:
score=r2_score(y_test,y_pred)

In [42]:
score

0.5942987267783302

In [43]:
1-(1-score)*(len(y)-1)/(len(y)-X.shape[1]-1)

0.5922497304489278