In [62]:
import pandas as pd

In [75]:
df = pd.read_csv('D:\ML\data\insurance.csv')

In [76]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [77]:
from sklearn.preprocessing import LabelEncoder

In [78]:
label_encoder = LabelEncoder()

In [79]:
df['sex']= label_encoder.fit_transform(df['sex'])
df['smoker']= label_encoder.fit_transform(df['smoker'])

In [80]:
X=df[['age','sex','bmi','children','smoker','charges']]
Y=df[['region']]

In [81]:
df

      age  sex     bmi  children  smoker     region      charges
0      19    0  27.900         0       1  southwest  16884.92400
1      18    1  33.770         1       0  southeast   1725.55230
2      28    1  33.000         3       0  southeast   4449.46200
3      33    1  22.705         0       0  northwest  21984.47061
4      32    1  28.880         0       0  northwest   3866.85520
...   ...  ...     ...       ...     ...        ...          ...
1333   50    1  30.970         3       0  northwest  10600.54830
1334   18    0  31.920         0       0  northeast   2205.98080
1335   18    0  36.850         0       0  southeast   1629.83350
1336   21    0  25.800         0       0  southwest   2007.94500
1337   61    0  29.070         0       1  northwest  29141.36030

[1338 rows x 7 columns]

In [82]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.1, random_state=10)

In [83]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [84]:
from sklearn.naive_bayes import GaussianNB

In [88]:
gnb = GaussianNB()

In [89]:
gnb.fit(X_train, y_train)

c:\Users\Hp\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [90]:
y_pred = gnb.predict(X_test)

In [91]:
from sklearn.metrics import confusion_matrix,classification_report

In [92]:
print(confusion_matrix(y_test,y_pred))

[[ 3 17  6  5]
 [ 8 18  2  8]
 [ 5 11 12  8]
 [ 3 11 12  5]]

In [93]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

   northeast       0.16      0.10      0.12        31
   northwest       0.32      0.50      0.39        36
   southeast       0.38      0.33      0.35        36
   southwest       0.19      0.16      0.18        31

    accuracy                           0.28       134
   macro avg       0.26      0.27      0.26       134
weighted avg       0.27      0.28      0.27       134

In [61]:
X=df[['age','sex','bmi','children','smoker']]
Y=df[['region']]

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.3, random_state=4)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [30]:
X

      age  sex     bmi  children  smoker
0      19    0  27.900         0       1
1      18    1  33.770         1       0
2      28    1  33.000         3       0
3      33    1  22.705         0       0
4      32    1  28.880         0       0
...   ...  ...     ...       ...     ...
1333   50    1  30.970         3       0
1334   18    0  31.920         0       0
1335   18    0  36.850         0       0
1336   21    0  25.800         0       0
1337   61    0  29.070         0       1

[1338 rows x 5 columns]

In [31]:
Y

         region
0     southwest
1     southeast
2     southeast
3     northwest
4     northwest
...         ...
1333  northwest
1334  northeast
1335  southeast
1336  southwest
1337  northwest

[1338 rows x 1 columns]

In [45]:
gnb1 = GaussianNB()

In [46]:
gnb1.fit(X_train, y_train)

c:\Users\Hp\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [47]:
y_pred = gnb1.predict(X_test)

In [48]:
print(confusion_matrix(y_test,y_pred))

[[13 21 15 46]
 [11 20 12 59]
 [ 7 11 37 50]
 [11 15 27 47]]

In [49]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

   northeast       0.31      0.14      0.19        95
   northwest       0.30      0.20      0.24       102
   southeast       0.41      0.35      0.38       105
   southwest       0.23      0.47      0.31       100

    accuracy                           0.29       402
   macro avg       0.31      0.29      0.28       402
weighted avg       0.31      0.29      0.28       402