In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('data\data.csv')

In [3]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df=df.drop(['User ID','Gender'],axis=1)

In [5]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [6]:
X=df.drop('Purchased',axis=1)
Y=df[['Purchased']]

In [7]:
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [8]:
Y

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [11]:
from sklearn.preprocessing import PolynomialFeatures

In [12]:
polynomial_converter=PolynomialFeatures(degree=2,include_bias=False)

In [13]:
polynomial_converter

PolynomialFeatures(include_bias=False)

In [14]:
poly_features=polynomial_converter.fit_transform(X)

In [9]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(poly_features, Y, test_size=0.25,random_state=10)

In [16]:
model = LinearRegression(fit_intercept=True)

In [17]:
model.fit(X_train, y_train)

LinearRegression()

In [18]:
y_pred = model.predict(X_test)

In [19]:
y_pred

array([[ 0.28901193],
       [ 0.16685363],
       [ 0.3615801 ],
       [ 0.52879633],
       [-0.12223451],
       [ 1.39803851],
       [ 0.23807076],
       [ 0.55382044],
       [ 0.09651939],
       [ 0.2132153 ],
       [ 0.26054307],
       [ 0.59283124],
       [ 1.12303369],
       [ 1.28734217],
       [ 0.68191508],
       [ 0.18932481],
       [ 0.15799699],
       [-0.07628068],
       [ 0.09548342],
       [ 0.63568501],
       [-0.05919426],
       [ 0.00914629],
       [ 0.18127858],
       [ 0.94609538],
       [ 1.10160727],
       [ 0.14571705],
       [ 0.17214433],
       [ 1.04575624],
       [ 0.68220348],
       [ 0.17796172],
       [ 0.22742079],
       [ 0.12548151],
       [ 0.0537709 ],
       [ 0.78476069],
       [ 0.72363187],
       [ 0.08026321],
       [ 0.45375231],
       [ 0.96432621],
       [ 0.25369682],
       [-0.03026295],
       [ 0.29663739],
       [ 0.45376945],
       [-0.08505982],
       [-0.01802544],
       [ 0.12514986],
       [ 0.09259097],
       [ 0.90396174],
       [ 0.23807076],
       [ 0.20445147],
       [ 0.16326888],
       [ 0.66330066],
       [ 0.68369464],
       [ 0.5124277 ],
       [ 0.13431011],
       [ 0.30491067],
       [ 0.18986217],
       [ 0.52078996],
       [ 0.0943638 ],
       [ 0.8449079 ],
       [ 1.25949626],
       [ 0.15404645],
       [ 0.54698936],
       [ 0.17897229],
       [ 1.00563687],
       [ 0.99044809],
       [ 0.3967023 ],
       [ 0.28901193],
       [ 1.06294994],
       [-0.16854637],
       [ 0.22380532],
       [ 0.17011708],
       [ 0.34603926],
       [-0.05249541],
       [-0.03026295],
       [ 0.12567469],
       [ 0.22913962],
       [ 0.05795571],
       [-0.1041623 ],
       [ 0.95188241],
       [ 0.66040027],
       [ 0.19935985],
       [ 0.17272254],
       [ 0.03013882],
       [ 0.16564431],
       [-0.13137884],
       [ 0.17471161],
       [ 0.18111112],
       [ 0.17829973],
       [-0.18582271],
       [ 0.09082564],
       [ 0.88808383],
       [ 0.04717813],
       [ 0.21225265],
       [ 1.21483051],
       [ 0.08523359],
       [-0.13405639],
       [ 0.74217903],
       [ 0.18709684],
       [ 0.06183205],
       [ 0.1087152 ]])

In [20]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [21]:
mae=mean_absolute_error(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
r2=r2_score(y_test,y_pred)
a_r2=1-(1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)

In [22]:
mae

0.2263220687867783

In [23]:
mse

0.09178189364125958

In [24]:
rmse

0.30295526673299406

In [25]:
r2

0.5709121381895297

In [26]:
a_r2

0.5687504864927515